# Ignore all shapefiles and related files
*.shp
*.shx
*.dbf
*.cpg
*.prj
*.sbn
*.sbx

*.html
*.zip
*.geojson
*.json

*.txt
*.pdf
*.csv

data/Takeout

# Exception for the 2024 directory and its contents
!2024/
!2024/**
