#ignore all shapefiles

*.shp
*.shx
*.dbf
*.cpg
*.prj
*.sbn
*.prj
*.dbf



*.html
*.zip
*.sbx
*.geojson
*.json

*.txt


*.pdf

*.csv

data/Takeout

# Exception for 2024/2- Spatial Data Analysis/data/
!2024/
!2024/2- Spatial Data Analysis/
!2024/2- Spatial Data Analysis/data/